extends layout

block landing
  div.landing
    h1 BlogBS - 461L

block content
  div.content
    p Welcome to BlogBS
    h3 By: Kenny and Waseem
    div.posts
      each post in blogPosts
        div.post
          h2= post.title
          h4= `Written by ${post.user} on ${(new Date(post.date)).toLocaleString()}`
          p= post.content
    a(href='blogposts/0') View More Posts
    div.addPost
      form(onsubmit="submitForm(event)", action="/blogposts", method="POST")
        label(for="title") Title
        input(type="text", name="title")
        label(for="content") Content
        textarea(name="content", cols="30", rows="10")
        input(type="hidden", name="id_token")
        input(type="submit")
    div.subscribe
      h3 Subscribe to daily digests
      form(onsubmit="submitForm(event)", action="/digests/subscribe", method="POST")
        input(type="hidden", name="id_token")
        input(type="submit")
