doctype html
html
  head
    title= title
    link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
    link(type='text/css', rel='stylesheet', href='https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css')
    script(src='https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js')
    script(src='https://www.gstatic.com/firebasejs/7.2.2/firebase-auth.js')
    script(src='https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js')
    script(src='/js/auth.js')
  body
    div#firebaseui-auth-container
    if user
      span.user
        p= `Welcome ${user.email}`
        a(href='/logout').signout Logout
    block landing
    block content
