body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  color: #FFF;
}

.landing {
  display: block;
  background: url("../img/landing-bg.jpg");
  width: 100%;
  height: 800px;
  overflow: hidden;
  margin: auto;
}

.landing .img {
  position: absolute;
  width: 50%;
  height: 50%;
}
