body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1, h2, h3, h4, p, label{
  color: #FFF;
}

html {
  background: url("/img/landing-bg.jpg");
  background-size: contain;
}

.landing {
}

.landing .img {
  position: absolute;
  width: 50%;
  height: 50%;
}

div.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.post {
  border: 1px solid white;
  margin: 1em;
  padding: 1em;
  min-width: 30vw;
  max-width: 60vw;
}

div.addPost > form {
  display: flex;
  flex-direction: column;
  min-width: 30vw;
}

div.addPost > form > * {
  margin: .5em;
  padding: .5em;
}

span.pages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
